* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.addNewProduct {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.addNewProduct .newProduct {
    display: block;
    margin: 20px;
    width: 340px;
}
.addNewProduct .newProduct h2 {
    text-align: center;
}
.addNewProduct .newProduct .imgHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
}
.addNewProduct .newProduct .imgHolder img {
    max-height: 99%;
    max-width: 99%;
}
.addNewProduct .newProduct .form {
    border: 1px solid grey;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    line-height: 26px;
}
.addNewProduct .newProduct .form input {
    width: 100%;
    height: 28px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid grey;
}
.addNewProduct .newProduct .form input:focus {
    border: red;
    box-shadow: 0 0 8px rgba(228, 91, 0, 0.836);
    border-radius: 3px;
}


/* -------------for dialog box----------- */
.addNewProduct .dialogBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
}
.addNewProduct .dialogBox .dialog {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid grey;
    padding: 5px 20px;
    width: 280px;
    height: 160px;

}
.addNewProduct .dialogBox .dialog #head {
    width: 100%;
    margin: 5px 0;
}
.addNewProduct .dialogBox .dialog #mssge {
    width: 100%;
    height: 40px;
    margin: 10px 0;
}
.addNewProduct .dialogBox .dialog .dialogBtns {
    width: 100%;
    margin: 5px 0;
    text-align: right;
}
.addNewProduct .dialogBox .dialog .dialogBtns button {
    height: 25px;
    border: 1px solid black;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    background-color: rgb(100, 200, 255);
}